@charset"utf-8";
html, body {
	font-family: "Arial";
	font-size: 13px;
	font-weight: normal;
	color: #333333;
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: #EEEEEE;
}
h1, h2, h3, h4, h5, h6, p, a {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0;
	padding: 0;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	overflow: hidden;
}
ul, ol, li, dd, dl, dt {
	list-style: none;
	margin: 0;
	padding: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
#Wrapper {
	width: 100%;
	height: 100%;
}
/* header */
#header {
	
}
#headerInner {
	background-color: #B70717;
	padding: 5px 0 0;
}
#head {
	width: 980px;
	margin: 0 auto;
	padding: 0 20px 0 0;
	position: relative;
}
#logo {
	float: left;
	margin: 0;
}
#head .searchArea input[type='text'] {
	width: 292px;
	height: 19px;
	color: #999999;
}
#head .searchArea {
	position: relative;
	float: left;
	margin-top: 13px;
	margin-left: 45px;
}
#head .searchArea input[type='image'] {
	position: absolute;
	right: 5px;
	top: 5px;
}
.mainNavi {
	float: left;
}
.mainNavi ul {
	margin-top: 20px;
	margin-left: 45px;
}
.mainNavi ul li {
	float: left;
	margin-right: 25px;
	position: relative;
}
.mainNavi ul li a {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
}
#regist {
	float: right;
	margin-top: 22px;
}
#regist a {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

/* content */
#content {
	margin-top: 5px;
}
#topNavi li {
	float: left;
	margin: 0 10px;
}
#topNavi li a {
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
}
#topNavi li a:hover {
	color: #B70717;
	text-decoration: none;
}
#topNavi .current a {
	color: #C00000;
}
#topNavi {
	background: #FFFFFF;
	height: 45px;
}
.topNaviInner {
	width: 1000px;
	margin: 0 auto;
	padding-top: 15px;
	position: relative;
}
.naviArrow {
	position: absolute;
	left: 5px;
	bottom: -19px;
}

#main {
	width: 980px;
	margin: 5px auto 0;
}
.bannerTop {
	width: 672px;
	height: 241px;
	background: #333333;
	border-radius: 5px;
	border: 1px solid #C9C9C9;
}

.bannerTopInner {
	width: 100%;
	height: 100%;
}
.banner1, .banner2, .banner3 {
	width: 100%!important;
	height: 100%!important;
	text-align: center;
	position: relative!important;
}
.banner1 img, .banner2 p, .banner3 p {
	top: 35%;
	color: #F2F2F2;
	font-size: 60px;
	font-family: Arial;
	position: relative;
}
.bannerTop .bx-wrapper .bx-pager .bx-pager-link {
	background: url(../images/icon/bannerControl.png) no-repeat scroll 0 0 transparent;
	text-indent: -9999px;
	text-align: left;
}
.login {
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	width: 258px;
	height: 216px;
	background: #FFFFFF;
	padding: 25px 20px 0;
}
.login dt {
	font-size: 14px;
	color: #333333;
}
.login dd input {
	height: 32px;
	width: 243px;
	background: #FAFFBD;
	border-radius: 5px;
	border: 1px solid #333333;
	font-size: 13px;
	color: #99999;
	padding-left: 10px;
}
.login dd {
	margin: 10px 0 15px;
}
.login p input[type="submit"] {
	background: url(../images/btn/btn_login.png) no-repeat scroll 0 0 transparent;
	width: 69px;
	height: 37px;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}
.login p input[type="submit"]:hover {
	background: url(../images/btn/btn_login_hover.png) no-repeat scroll 0 0 transparent;
}
.login p, .login p a {
	font-size: 14px;
	text-decoration: none;
}
.login p a:hover {
	color: #FF0000;
}
.login div .fl {
	text-align: left;
}
.login div .fr {
	text-align: right;
	line-height: 38px;
}
.login div .fr label {
	margin-right: 10px;
}
.recommend {
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	background: #FFFFFF;
	margin-top: 5px;
	padding: 10px;
}
.recommendTitle {
	border-bottom: 1px solid #C9C9C9;
	padding: 0 5px 3px 0;
}
.recommendTitle h2 {
	color: #B70717;
	font-size: 16px;
	float: left;
}
.recommendTitle .slider {
	float: right;
} 
.recommendInner {
	margin: 0px 0 5px;
}
.recommendInner ul {
	height: 488px;
	overflow: hidden;
}
.recommendInner ul li {
	float: left;
	width: 188.6px;
	padding: 0 0px 0 3px;
	margin-top: 20px;
}
.recommendInner ul li h4, .recommendInner ul li p {
	text-align: left;
}
.recommendInner ul li h4 {
	color: #434343;
	margin: 5px 0;
}
.recommendInner ul li h4:hover {
	color: #666666;
}
.recommendInner ul li p a:hover {
	color: #B70717;
	text-decoration: none;
}
.rank {
	margin-top: 5px;
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	background: #FFFFFF;
	padding: 10px;
}
.rankTitle {
	border-bottom: 1px solid #C9C9C9;
	padding: 0 5px 3px 0;
}
.rankTitle h2 {
	color: #B70717;
	font-size: 16px;
	float: left;
}
.rankTitle a {
	float: right;
	color: #434343;
}
.rankTitle a:hover {
	text-decoration: none;
}
.rankTitle a img {
	vertical-align: top;
	margin-left: 5px;
}
.singleRank, .albumRank, .singerRank {
	float: left;
}
.singleRank {
	border-right: 1px solid #C9C9C9;
	padding: 0 10px 0 0;
}
.singleRank h3 {
	color: #515151;
	font-size: 14px;
	margin: 5px 0 8px; 
}
.singleRank ul {
/* 	margin-top: 10px; */
	margin-bottom: 10px;
}
.singleRank li:after {
	content: "";
	overflow: hidden;
	clear: both;
	display: block;
}
.singleRank li .singlePic {
	float: left;
}

.singleRank li .singleInfo {
	float: left;
	margin-left: 10px;
}
.rankInner  h4 {
	color: #B70717;
}
.rankInner .singer {
	color: #434343;
}
.singleRank li {
	border-bottom: 1px dotted #C9C9C9;
	padding-bottom: 11px;
	padding-top: 7px;
	width: 355px;
	padding-left: 70px;
	position: relative;
}
.singleRank li .singleInfo ul {
	margin-top: 30px;
	margin-bottom: 0;
}
.singleRank li .singleInfo ul li {
	border: none;
	padding: 0;
	float: left;
	width: 20px;
}
.singleRank li .singleInfo ul li a {
	text-indent: -9999px;
	display: block;
}
.singleRank li .singleInfo ul li .addPlayList {
	background: url(../images/icon/index_fav.png) no-repeat scroll 0 2px transparent;
	width: 20px;
	height: 22px;
}
.singleRank li .singleInfo ul li .addFav {
	background: url(../images/icon/index_fav.png) no-repeat scroll -19px 2px transparent;
	width: 20px;
	height: 22px;
}
.singleRank li .singleInfo ul li .share {
	background: url(../images/icon/index_share.png) no-repeat scroll 0 0 transparent;
	width: 20px;
	height: 22px;
}
.singleRank li .play {
/* 	float: right; */
}
.rank1 {
	background: url(../images/icon/01.png) no-repeat scroll left top transparent;
}
.rank2 {
	background: url(../images/icon/02.png) no-repeat scroll left top transparent;
}
.rank3 {
	background: url(../images/icon/03.png) no-repeat scroll left top transparent;
}
.rank4 {
	background: url(../images/icon/04.png) no-repeat scroll left top transparent;
}
.rank5 {
	background: url(../images/icon/05.png) no-repeat scroll left top transparent;
}
.rank6 {
	background: url(../images/icon/06.png) no-repeat scroll left top transparent;
}
.rank7 {
	background: url(../images/icon/07.png) no-repeat scroll left top transparent;
}
.rank8 {
	background: url(../images/icon/08.png) no-repeat scroll left top transparent;
}
.rank9 {
	background: url(../images/icon/09.png) no-repeat scroll left top transparent;
}
.rank10 {
	background: url(../images/icon/10.png) no-repeat scroll left top transparent;
}
.rankInner .showAll {
	text-align: right;
}
.rankInner .showAll a {
	color: #B70717;
}
.rankInner .showAll a img {
	vertical-align: top;
	margin-left: 5px;
}
.albumRank {
	margin-left: 10px;
	border-right: 1px solid #C9C9C9;
	padding-right: 10px;
}
.albumRankTitle {
	margin: 5px 0;
}
.albumRankTitle h3 {
	float: left;
}
.albumRankTitle .slider {
	float: right;
}
.albumRank ul {
	margin-bottom: 10px;
	overflow: hidden;
	height: 1030px;
}
.albumRank ul li {
	width: 173px;
	border-bottom: 1px dotted #C9C9C9;
	padding: 10px 0 10px 70px;
	height: 185px;
}
.singerRank {
	margin-left: 10px;
}
.singerRankTitle {
	margin: 5px 0;
}
.singerRankTitle h3 {
	float: left;
}
.singerRankTitle .slider {
	float: right;
}
.singerRank ul {
	margin-bottom: 10px;
	overflow: hidden;
	height: 1030px;
}
.singerRank ul li {
	border-bottom: 1px dotted #C9C9C9;
	padding: 10px 0 10px 70px;
	height: 185px;
	width: 173px;
}


/* 单曲榜播放器 */
.singleRank .jp-play {
	background: url(../images/btn/btn_play.jpg) no-repeat scroll 0 0 transparent;
	width: 49px;
	height: 47px;
}
.singleRank .jp-play:hover {
	background: url(../images/btn/btn_play_hover.jpg) no-repeat scroll 0 0 transparent;
}
.singleRank .jp-pause {
	background: url(../images/btn/btn_pause.jpg) no-repeat scroll 0 0 transparent;
	width: 49px;
	height: 47px;
}
.singleRank .jp-pause:hover {
	background: url(../images/btn/btn_pause_hover.jpg) no-repeat scroll 0 0 transparent;
}
.jp-controls li {
	border: none;
}
.singleRank .jp-audio {
	background: none;
	border: none;
	color: #999999;
	width: auto;
	margin: 0!important;
}
.singleRank .jp-audio .jp-type-single .jp-progress {
	width: 209px;
	height: 4px;
	background: none;
	border: 1px solid #333333;
	border-radius: 5px;
	left: 0;
	top: 0;
	position: relative;
}
.singleRank .jp-duration {
	float: none;
	text-align: left;
	display: block;
}
.singleRank .jp-audio .jp-controls {
	padding: 0;
	width: auto;
	position: relative;
	top: -7px;
}
.singleRank .jp-audio .jp-type-single .jp-interface {
	height: auto;
	background: none;
}
.singleRank .jp-seek-bar {
	background: #DDDDDD;
}
.singleRank .jp-play-bar {
	background: #B70717;
}
.play {
	display: none;
}
.playIcon {
	text-align: right;
	position: absolute;
	right: 1px;
	top: 30px;
}
.playMusic {
	cursor: pointer;
}

/* footer */
#footer {
	margin-top: 5px;
	margin-bottom: 10px;
}
#footerInner {
	width: 980px;
	margin: 0 auto;
}
#footerInner .outLink {
	background: #FFFFFF;
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	height: 49px;
	margin-bottom: 20px;
}
#footerInner .outLink p {
	color: #B70717;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	line-height: 50px;
}
#footerInner .outLink p a {
	color: #B70717;
	margin: 0 15px;
}
.copyright {
	text-align: center;
}
.copyright a:hover {
	text-decoration: none;
	color: #B70717;
}